    GLOBAL_SETTINGS
    LAB_MASTER_SEED snmp_discovery_student_master_seed
    REGISTRY domanhcuong2502
NETWORK SOME_NETWORK3
     MASK 172.50.2.0/24
     GATEWAY 172.50.2.1
CONTAINER server
     USER ubuntu
     X11 YES
     TERMINALS 0
     SOME_NETWORK3 172.50.2.20
CONTAINER client
     USER ubuntu
     X11 YES
     SOME_NETWORK3 172.50.2.10
